<a href="https://colab.research.google.com/github/ella-hong22/DATA_EDUCATION/blob/main/5%EC%9D%BC%EC%B0%A8(0511)_class_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

딕션너리

In [ ]:
name_and_age ={'tom' : 30, 'jerry' : 32 ,'철수' : 25, "영희" : 27 }

In [ ]:
print(name_and_age)

{'tom': 30, 'jerry': 32, '철수': 25, '영희': 27}

In [ ]:
print(name_and_age["tom"])
print(name_and_age["철수"])

30
25

In [ ]:
d = {
    'tom' : 30, 
    'jerry' : 32,
    '철수' : 25, 
    "영희" : 27 
    }

In [ ]:
d["bob"] = 33
print(d)

{'tom': 30, 'jerry': 32, '철수': 25, '영희': 27, 'bob': 33}

In [ ]:
print(d.keys())

dict_keys(['tom', 'jerry', '철수', '영희', 'bob'])

In [ ]:
print(d.values())

dict_values([30, 32, 25, 27, 33])

In [ ]:
print(d.items())

dict_items([('tom', 30), ('jerry', 32), ('철수', 25), ('영희', 27), ('bob', 33)])

In [ ]:
list = []
for k in d.values() :
    print(k)
    list.append(k)

30
32
25
27
33

In [ ]:
list

[30, 32, 25, 27, 33]

In [ ]:
for k,v in d.items():
    print("{}의 나이는 {}입니다.".format(k,v))

tom의 나이는 30입니다.
jerry의 나이는 32입니다.
철수의 나이는 25입니다.
영희의 나이는 27입니다.
bob의 나이는 33입니다.

In [ ]:
for k in d.keys():
    print("{}의 나이는 {}입니다.".format(k,d[k]))

tom의 나이는 30입니다.
jerry의 나이는 32입니다.
철수의 나이는 25입니다.
영희의 나이는 27입니다.
bob의 나이는 33입니다.

In [ ]:
names = ["tom","철수"]
ages = [] 

for k in names:
    age = d[k]
    ages.append(age)

for i in range(len(names)):
    print("이름 : {}, 나이: {}".format(names[i],ages[i]))

이름 : tom, 나이: 30
이름 : 철수, 나이: 25

In [ ]:
names = ["Tom","철수"]
ages = [] 

for k in names:
    k = k.lower()
    age = d[k]
    ages.append(age)

for i in range(len(names)):
    print("이름 : {}, 나이: {}".format(names[i],ages[i]))

이름 : Tom, 나이: 30
이름 : 철수, 나이: 25

In [ ]:
d = {
    ' Tom' : 30, 
    'JERRY' : 32,
    '철수 ' : 25, 
    "영희" : 27 
    }

clean_d = []

for i in d.keys():
    k = i.strip().lower()
    clean_d.append(k)
print(clean_d)

['tom', 'jerry', '철수', '영희']

In [ ]:
d = {
    ' Tom' : 30, 
    'JERRY' : 32,
    '철수 ' : 25, 
    "영희" : 27 
    }
clean_d = {}
for name, age in d.items():
    cleaned_name = name.strip().lower()
    clean_d[cleaned_name] = age

names = ["tom","철수"]

for name in names:
    age = clean_d[name]
    ages.append(age)

for i in range(len(names)):
    print("이름 : {}, 나이: {}".format(names[i],ages[i]))

이름 : tom, 나이: 30
이름 : 철수, 나이: 25

In [ ]:
d = {
    'tom' : 30, 
    'jerry' : 32,
    '철수 ' : 25, 
    "영희" : 27 
    }

In [ ]:
l = []
for i in d.keys():
    l.append(i)
print(l[:2])

tom
jerry
철수
영희
['tom', 'jerry']

In [ ]:
#1-3
l = []
for k,v in d.items():
    if v > 30:
     l.append(k)
print(l)

['jerry']

In [ ]:
#중복 x 
s = {1,2,3}
print(s)
print(len(s))

{1, 2, 3}
3

In [ ]:
ㅣ = [1,2,3,1,2,3]
ㅣ2 = [1,2,3]
l3  = []
for k in range(len(l)):
    try:
        if not k in l:
            l3.append(k)
            
    except:
        break

0
0

In [ ]:
#error
for k in range(len(l)):

    target = l[i]

    for j in range(len(l2)):
        if l2[j] ==target:
            break
    try:
        if not k in l:
            l3.append(k)
            
    except:
        break

In [ ]:
#어려움 ㄷㄷ
l = [1,2,3,1,2,3]
l2 = []

def contains(l, target):
    for i in range(len(l)):
        if l[i] == target: return True
    return False

for i in range(len(l)):
    if contains(l2, l[i]) : continue
    l2.append(l[i])

print(l2)

[1, 2, 3]

In [ ]:
#제거하기 
s = {1,2,3}

s.discard(1)
print(s)

s.discard(2)
print(s)

{2, 3}
{3}

In [ ]:
s = { 1,2,3 }
l = list(s)
print(l)

s = [ 1,2,3 ]
l = set(s)
print(l)

{1, 2, 3}

In [ ]:
l = [1,2,3,1,2,3]

s = set(l)
l2 = list(s)

print(s)

TypeError: ignored

In [ ]:
#교집합 = '&', 합집합 = "|" 
s= {1,2,3}
s2 = {4,5,6}

s= s|s2
print(s)

s = s&s2
print(s)

{1, 2, 3, 4, 5, 6}
{4, 5, 6}

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

s1 = set(l1)
s2 = set(l2)

u = s1|s2
u= list( set(l1) | set(l2) )
print(t)

{1, 2, 3, 4, 5, 6}

In [ ]:
d1 = {'tom' : 30, 'jerry' : 32 ,'철수' : 25, "영희" : 27 }
d2 = {'tom' : 30 ,'철수' : 25, "bob" :33 }

d1_names = set(d1.keys())
d2_names = set(d2.keys())
all_names = list(d1_names | d2_names )

print(all_names)

TypeError: ignored

In [ ]:
d3 ={}


for k,v in d1.items():
    print(k)
    
    # if k in d2.keys != True:

tom
<built-in method keys of dict object at 0x7f8c7a3b5a50>
jerry
<built-in method keys of dict object at 0x7f8c7a3b5a50>
철수
<built-in method keys of dict object at 0x7f8c7a3b5a50>
영희
<built-in method keys of dict object at 0x7f8c7a3b5a50>
bob
<built-in method keys of dict object at 0x7f8c7a3b5a50>

In [ ]:
l = [1,1,2,2,2,3,4,4,5,5,3,4,5]

#1-1
for i in range(min(l), max(l)+1):
    print("{} : {}".format(i,l.count(i)))

1 : 2
2 : 3
3 : 2
4 : 3
5 : 3

In [ ]:
#1-2 다시 코드 보기 

l = [2,1,1,2,3,2,2,3,4,5,4,5,4,5]

count_map = {}
for i in l:
    if i in count_map:
        count= count_map[i]
        print(count)
    else:
        count = 0
    count +=1
    count_map[i] = count
    print(count_map)

# print(count_map)

# keys = list(count_map.keys())

# keys.sort()

# for i in keys:
#     print("{} : {}".format(i, count_map[i]))

{2: 1}
{2: 1, 1: 1}
1
{2: 1, 1: 2}
1
{2: 2, 1: 2}
{2: 2, 1: 2, 3: 1}
2
{2: 3, 1: 2, 3: 1}
3
{2: 4, 1: 2, 3: 1}
1
{2: 4, 1: 2, 3: 2}
{2: 4, 1: 2, 3: 2, 4: 1}
{2: 4, 1: 2, 3: 2, 4: 1, 5: 1}
1
{2: 4, 1: 2, 3: 2, 4: 2, 5: 1}
1
{2: 4, 1: 2, 3: 2, 4: 2, 5: 2}
2
{2: 4, 1: 2, 3: 2, 4: 3, 5: 2}
2
{2: 4, 1: 2, 3: 2, 4: 3, 5: 3}

In [ ]:
#file IO 
f = open("greeting.txt", "w")
f.write("hello")
f.write("hi\n")
f.write("halo\n")
f.close()

In [ ]:
!ls -al

total 20
drwxr-xr-x 1 root root 4096 May 11 04:22 .
drwxr-xr-x 1 root root 4096 May 11 03:54 ..
drwxr-xr-x 4 root root 4096 May  6 13:43 .config
-rw-r--r-- 1 root root   14 May 11 04:22 greeting.txt
drwxr-xr-x 1 root root 4096 May  6 13:44 sample_data

# 새 섹션

In [ ]:
f1 = open("doc1.txt")
f2 = open("doc2.txt")
f3 = open("doc3.txt")

In [ ]:
f = open("greeting.txt", "r")
line = f.readline()
f.close()
print(line)

hellohi

In [ ]:
f = open("greeting.txt", "r")
lines = f.readlines() #list
f.close()
print(lines)

['hellohi\n', 'halo\n']

In [ ]:
names = ["tom", "jerry","철수","영희"]

#2-1 틀림 
f = open("name.txt", "w")
for name in names:
    # f = open("name.txt", "w")
    f.write(name+"\n")
f.close()

In [ ]:
#2-2
f = open("name.txt", "r")
raw_lines = f.readlines() #list
f.close()
print(lines)

names = []
for line in raw_lines:
    names.append(line[:-1]) #replace 
print(names)

['tom', 'jerry', '철수', '영희', [], [], [], [], [], [], [], []]
['tom', 'jerry', '철수', '영희']

In [ ]:
#2-3 join 사용 

names = ["tom", "jerry","철수","영희"]

line = ",".join(names)
f = open("name.txt", "w")
f.write(line)
f.close()
print(line)



f = open("name.txt", "r")
raw_lines = f.readlines() #list
f.close()


names = raw_lines[0].split(",")
print(names)

tom,jerry,철수,영희
['tom', 'jerry', '철수', '영희']

In [ ]:
f = open("name.txt", "a")
f.write("tom\n")
f.write("jerry\n")
f.close()

#읽기
!cat name.txt

tom,jerry,철수,영희tom
tom
jerry

In [ ]:
def show_file(file_name):
    f = open("{}".format(file_name), "r")
    raw_lines = f.readlines() #list
    f.close() 
    for line in raw_lines: #\n를 안보이게 하기 위해서 for 문을 돌린다. 
        print(line, end ="")

show_file("name.txt")

tom,jerry,철수,영희tom
tom
jerry

In [ ]:
#읽기
!cat name.txt

tom
jerry

In [ ]:
#quiz1
f = open("name.txt", "r")
raw_lines = f.readlines() 
f.close() 
for line in raw_lines: #\n를 안보이게 하기 위해서 for 문을 돌린다. 
    print(line.upper(), end ="")

TOM
JERRY

In [118]:
#quiz 2 "사용자 입력을 받아, name.txt"에 저장. 그리고 파일 내용 출력하여 확인


def show_file(file_name):
    f = open("{}".format(file_name), "r")
    raw_lines = f.readlines() #list
    f.close() 
    for line in raw_lines: #\n를 안보이게 하기 위해서 for 문을 돌린다. 
        print(line, end ="")


txt = input() 
f = open("name.txt", "w")
f.write(txt+"\n")
f.close()

txt = input() 
f = open("name.txt", "a")
f.write(txt+"\n")
f.close()

show_file("name.txt")

tom
jerry
tom
jerry

In [143]:
#Quiz 이름을 입력하고 name.txt에 추가("a"). 그리고 파일 내용 확인. 이를 계속 반복 .exit 입력되면 종료 
#me
def show_file(file_name):
    f = open("{}".format(file_name), "r")
    raw_lines = f.readlines() #list
    f.close() 
    names = raw_lines[0].split(",")
    # print(names)
    for line in names: #\n를 안보이게 하기 위해서 for 문을 돌린다. 
        print(line)

names = []
while True : 
    txt = input() 
     
    if txt == "exit": break

    else:
        names.append(txt)

        line = ",".join(names)
        f = open("name.txt", "w")
        f.write(line)
        f.close()
        show_file("name.txt")

tom
tome
jerytom

exit

In [141]:
#Techer

def show_file(file_name):
    f = open(file_name, "r")
    lines = f.readlines() #list
    f.close() 
    for line in lines: #\n를 안보이게 하기 위해서 for 문을 돌린다. 
        print(line, end = "")

def write_to_file(file_name, value):
    f = open(file_name, "a")
    f.write(value + "\n")
    f.close()

File_name = "name.txt"
while True : 
    i = input()   
    if i == "exit": break
    write_to_file(File_name, i)
    show_file(File_name)

tom
tome,jerytom
jerrr
tom
jerry
hi
huhu
tom
jrry
tom
exit

In [157]:
#문제 
def show_file(file_name):
    f = open(file_name, "r")
    lines = f.readlines() #list
    f.close() 
    for line in lines: #\n를 안보이게 하기 위해서 for 문을 돌린다. 
        print(line, end = "")

f = open("source.txt", "w")
f.write("""2,3
4,5
7,1""")
f.close()

show_file("source.txt")

2,3
4,5
7,1

In [156]:
#T solution_1
f = open("source.txt", "r")
lines = f.readlines() #list
f.close() 

new_lines = []
for line in lines:
    if line.endswith("\n"):
        line = line[:-1]
    print(line)

    values = line.split(",")
    answer = int(values[0]) + int(values[1])
    new_line = ",".join([values[0], values[1], str(answer)])
    new_lines.append(new_line)

print(new_lines)

f = open("sum.txt", 'w')
for line in new_lines:
    f.write(line + "\n")
f.close()

show_file("sum.txt")

2,3
4,5
7,1
['2,3,5', '4,5,9', '7,1,8']
2,3,5
4,5,9
7,1,8

In [ ]:
#T solution_2 "def 함수를 최대한 활용한 코드"

#문제 파일읽기ㅣ 
f = open("source.txt", "r")
lines = f.readlines() #list
f.close() 

def clean_line(line):
    if line.endswith("\n"):
        line = line[:-1]
    return line


def calculate_line(line):
    values = line.split(",")
    v1, v2 = int(values[0]),int(values[1])
    answer = v1 + v2 
    new_values = [v1, v2 ,answer]
    new_line = ",".join(new_values)
    new_lines.append(new_line)

new_lines = []
for line in lines:
    if line.endswith("\n"):
        line = line[:-1]
    print(line)

    values = line.split(",")
    v1, v2 = int(values[0]),int(values[1])
    answer = v1 + v2 
    new_values = [v1, v2 ,answer]
    new_line = ",".join(new_values)
    new_lines.append(new_line)

print(new_lines)

f = open("sum.txt", 'w')
for line in new_lines:
    f.write(line + "\n")
f.close()

show_file("sum.txt")

In [ ]:
#파일을 줄단위로 읽어서 리스트를 얻는다. 
lines = read_line("source.txt")

#줄단위로 계산해서 리스트를 얻는다.
calculated_lines = calculated_lines(lines)

#리스트를 파일로 저장한다. 
write_to_file("sum.txt", calculated_lines)

#파일 내용을 출력한다. 
show_file("sum.txt")

##Quiz 

'''
tom 
jerrry
철수
영희
'''

'''
"Tom의 나이는? " 30 
"Tom의 나이는? " 30 
'''

화면에 출력
'''
tom.30
jerry,33
철수
'''

In [162]:
#task.1 source.txt에서 파일을 읽어서 다음 리스트를 구하기 
names = ["Tom", "Jerry", "철수" ,"영희"]

#tasy2 for 루프를 돌면서 input으로 age를 받고 다음 dict를 만들기
age_map ={'Tom': 30, 'Jerry': 1, '철수': 32, '영희': 3}
#tast3 for 루프를 돌면서 다음 문자열을 만들기
out_lines = ['Tom , 30', 'Jerry , 33', '철수 , 25', '영희 , 23']
#tast4 for 루프를 돌면서 리스트 항목을 출력하기 
Tom , 30
Jerry , 33
철수 , 25
영희 , 23

#tast4-2  for 루프를 돌면서 리스트를  name_and_age.txt에 출력하기

Tom의 나이는 : ?30
Jerry의 나이는 : ?1
철수의 나이는 : ?32
영희의 나이는 : ?3
[30, 1, 32, 3]

In [163]:
#tast2

names = ['Tom', 'Jerry', '철수' ,'영희']

age_map = {}
for i in names:
    age = input("{}의 나이는 : ?".format(name))
    
    ages.append(int(age))

print(age_map)

{'Tom': 30, 'Jerry': 1, '철수': 32, '영희': 3}

In [167]:
#task.3

age_map = {"Tom" : 30, "Jerry" : 33, '철수': 25, '영희': 23}

out_lines = []
for key, value in age_map.items():
    # out_lines.append(str(key) + "," + str(value))
    out_lines.append("{},{}".format(key,value))

print(out_lines)

['Tom , 30', 'Jerry , 33', '철수 , 25', '영희 , 23']

In [168]:
#task.4
for a_line in out_lines:
    print(a_line)

Tom , 30
Jerry , 33
철수 , 25
영희 , 23

In [171]:
#tast4-2  for 루프를 돌면서 리스트를  name_and_age.txt에 저장하기

# print(out_lines)
 f = open("name_and_age.txt", "a")
for a_line in out_lines:
    f.write(a_line+ "\n")
f.close()

show_file("name_and_age.txt")

Tom , 30
Jerry , 33
철수 , 25
영희 , 23

In [ ]:
file_name = "name_and_age.txt"
def write_to_file(file_name, value):
    f = open(file_name, "a")
    f.write(value + "\n")
    f.close()

AttributeError: ignored