<a href="https://colab.research.google.com/github/ella-hong22/DATA_EDUCATION/blob/main/6%EC%9D%BC%EC%B0%A8_2021_05_13_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd 

print(pd.__version__)

1.1.5

In [4]:
!rm -rf RegularSeasonCompactResults.csv
!wget https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv

--2021-05-13 00:09:05--  https://raw.githubusercontent.com/adeshpande3/Pandas-Tutorial/master/RegularSeasonCompactResults.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4115852 (3.9M) [text/plain]
Saving to: ‘RegularSeasonCompactResults.csv’

RegularSeasonCompac 100%[===================>]   3.92M  --.-KB/s    in 0.1s

2021-05-13 00:09:05 (29.5 MB/s) - ‘RegularSeasonCompactResults.csv’ saved [4115852/4115852]

In [5]:
!head -10 RegularSeasonCompactResults.csv

Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot
1985,20,1228,81,1328,64,N,0
1985,25,1106,77,1354,70,H,0
1985,25,1112,63,1223,56,H,0
1985,25,1165,70,1432,54,H,0
1985,25,1192,86,1447,74,H,0
1985,25,1218,79,1337,78,H,0
1985,25,1228,64,1226,44,N,0
1985,25,1242,58,1268,56,N,0
1985,25,1260,98,1133,80,H,0

In [6]:
df = pd.read_csv('RegularSeasonCompactResults.csv')

In [7]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [9]:
df = pd.read_csv("RegularSeasonCompactResults.csv")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145289 entries, 0 to 145288
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Season  145289 non-null  int64
 1   Daynum  145289 non-null  int64
 2   Wteam   145289 non-null  int64
 3   Wscore  145289 non-null  int64
 4   Lteam   145289 non-null  int64
 5   Lscore  145289 non-null  int64
 6   Wloc    145289 non-null  object
 7   Numot   145289 non-null  int64
dtypes: int64(7), object(1)
memory usage: 8.9+ MB

In [12]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [13]:
print(df.shape)

(145289, 8)

In [14]:
print(df.index)

RangeIndex(start=0, stop=145289, step=1)

In [15]:
print(df.columns.tolist())

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [16]:
pd.qcut(range(5), 4)

[(-0.001, 1.0], (-0.001, 1.0], (1.0, 2.0], (2.0, 3.0], (3.0, 4.0]]
Categories (4, interval[float64]): [(-0.001, 1.0] < (1.0, 2.0] < (2.0, 3.0] < (3.0, 4.0]]

In [19]:
 l = [ 0, 1, 2, 3, 4 ]

 print(l[2])

l = [ 
     [ 0, 1, 2 ],
     [ 4, 5, 6 ],
     [ 0, 1, 2 ],
     [ 0, 1, 2 ]

 ]

 print(l[2][1])

2
1

In [22]:
#loc[index, column명]
df.loc[82]['Wteam']
df.loc[82,'Wteam']

#iloc[index, column 위치]
df.iloc[82][2]
df.iloc[82, 2]

1464

In [26]:
df['Wteam'].max()

1464

In [27]:
df[2:5]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [28]:
df[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [29]:
df[145289-3:]

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [30]:
df[-3:]

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [33]:
sub_df = df[10000:]

In [34]:
sub_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135289 entries, 10000 to 145288
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Season  135289 non-null  int64
 1   Daynum  135289 non-null  int64
 2   Wteam   135289 non-null  int64
 3   Wscore  135289 non-null  int64
 4   Lteam   135289 non-null  int64
 5   Lscore  135289 non-null  int64
 6   Wloc    135289 non-null  object
 7   Numot   135289 non-null  int64
dtypes: int64(7), object(1)
memory usage: 8.3+ MB

In [35]:
df.loc[82]

Season    1985
Daynum      28
Wteam     1464
Wscore      71
Lteam     1134
Lscore      58
Wloc         H
Numot        0
Name: 82, dtype: object

In [36]:
print(type(df[82:83]))
print(type(df.loc[82][:]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [38]:
df.iloc[82:83,1:2]

    Daynum
82      28

In [43]:
df.loc[:82][:'Wteam']

TypeError: ignored

In [56]:
#loc[index, column명]
df.iloc[:82, 2:]
df.iloc[:82][2:]

    Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1228      81   1328      64    N      0
1    1106      77   1354      70    H      0
2    1112      63   1223      56    H      0
3    1165      70   1432      54    H      0
4    1192      86   1447      74    H      0
..    ...     ...    ...     ...  ...    ...
77   1396      75   1180      62    H      0
78   1398      60   1287      42    H      0
79   1399      68   1155      67    A      0
80   1428      89   1258      85    H      0
81   1448      81   1192      67    H      0

[82 rows x 6 columns]

In [48]:
#iloc[index, column 위치]
# df.iloc[82][2]
df.iloc[82, 2]

1464

In [71]:
#값이 다름 
df.iloc[:82, :2]
df.iloc[:82][:2]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0

In [57]:
df[82:85]['Wteam']

82    1464
83    1116
84    1124
Name: Wteam, dtype: int64

In [64]:
df.iloc[  [ 0,3,5], [0,2]]

   Season  Wteam
0    1985   1228
3    1985   1165
5    1985   1218

In [ ]:
df.loc[  [ 0,3,5], [0,2]] #error

In [78]:
#표준 사용법 

print(df.Wteam )
print()
print(df[ 3:5 ])
print()
print(df.loc[3, 'Wteam'] )
print()
print(df.iloc[3,2] )

0         1228
1         1106
2         1112
3         1165
4         1192
          ...
145284    1114
145285    1163
145286    1246
145287    1277
145288    1386
Name: Wteam, Length: 145289, dtype: int64

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

1165

1165

In [5]:
import pandas as pd 
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

mask = pd.Series( [True, False,True, False, True ])
print(mask)
print()

df.loc[mask, 'BBB'] = -1 #같은 인덱스 열에 True 인 것을 바꿔줌 
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

0     True
1    False
2     True
3    False
4     True
dtype: bool

   AAA  BBB  CCC
0    4   -1  100
1    5   20   50
2    6   -1  -30
3    7   40  -50

In [8]:
import numpy as np

df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()


index = np.array( [0,2]) #index [0 ,2] 도 가능 
print(index)

df.loc[index, 'BBB'] =-1 
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

[0 2]
   AAA  BBB  CCC
0    4   -1  100
1    5   20   50
2    6   -1  -30
3    7   40  -50

In [9]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

filtered_mask = df.AAA > 5
print(filtered_mask)
print()

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

0    False
1    False
2     True
3     True
Name: AAA, dtype: bool

In [12]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

df.loc[df.AAA>=5, 'BBB'] =-1
print(df)

SyntaxError: ignored

In [14]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

df.loc[df.AAA%2 ==0, 'BBB'] =-1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC
0    4   -1  100
1    5   20   50
2    6   -1  -30
3    7   40  -50

In [21]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

df.loc[(df.AAA >=5)  & (df.BBB < 40), 'BBB'] -1
print(df) 

# df.AAA >=5  | df.BBB < 40
# print(df) 

# and df.BBB < 40

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [22]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

new_df = df [  [ "AAA", "BBB"] ]
print(new_df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB
0    4   10
1    5   20
2    6   30
3    7   40

In [80]:
print(type(df [ [  "AAA" ] ] )) #dataframe으로 반환하다. 
print(type(df.AAA)) #Series로 반환한다. 
print(type(df['AAA'])) #Series로 반환한다.

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [27]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

df.loc[ df.AAA>=5 , ["BBB","CCC"]] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC
0    4   10  100
1    5   -1   -1
2    6   -1   -1
3    7   -1   -1

In [34]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()


df.loc[ df.AAA>=5 , "BBB"] = 999 
df.loc[ df.AAA  < 5 , "BBB"] = -999
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC
0    4 -999  100
1    5  999   50
2    6  999  -30
3    7  999  -50

In [37]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()


# df.loc[ df.AAA>=5 , "BBB"] = 999 
# df.loc[ df.AAA  < 5 , "BBB"] = -999
# print(df)

#TODO WHERE 구문 처음 사용해봄 (조건문 if 구문보다 빠름 )
df.BBB =np.where(df.AAA >= 5, -999,999)
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC
0    4  999  100
1    5 -999   50
2    6 -999  -30
3    7 -999  -50

In [41]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

print(df.AAA <=5 )
print(df.AAA.isin( [  5,  6 ] ))


df.loc[ df.AAA.isin([ 3, 5] ), 'BBB' ] = -1
print(df)

df.loc[ df.index.isin([0, 3, 5] ), 'BBB' ] = -1
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

0     True
1     True
2    False
3    False
Name: AAA, dtype: bool
0    False
1     True
2     True
3    False
Name: AAA, dtype: bool
   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   -1  100
1    5   -1   50
2    6   30  -30
3    7   -1  -50

In [44]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

df.loc[ df.index%2 == 0 , 'BBB' ] = -1
print(df)

   AAA  BBB  CCC
0    4   -1  100
1    5   20   50
2    6   -1  -30
3    7   40  -50

In [48]:
df.loc[ ( df.AAA + df.BBB) %2  == 0 , 'BBB' ] = -1
print(df)

   AAA  BBB  CCC
0    4    1  100
1    5   20   50
2    6    1  -30
3    7   40  -50

In [50]:
df.CCC = df.BBB
print(df)

   AAA  BBB  CCC
0    4    1    1
1    5   20   20
2    6    1    1
3    7   40   40

In [51]:
df.CCC =np.where(df.AAA%2== 0 , True, False)
#df.CCC = df.AAA%==0 도 가능

In [52]:
print(df)

   AAA  BBB    CCC
0    4    1   True
1    5   20  False
2    6    1   True
3    7   40  False

In [55]:
df.loc[df.CCC, 'BBB'] = -1 #ccc가 True라고 자동으로 인식됨 like, mask 
df

   AAA  BBB    CCC
0    4   -1   True
1    5   20  False
2    6   -1   True
3    7   40  False

In [56]:
#컬럼 추가하기 방법! 

df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

df["AAA_bak"] = df.AAA
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC  AAA_bak
0    4   10  100        4
1    5   20   50        5
2    6   30  -30        6
3    7   40  -50        7

In [61]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()


# df[ " AAA2 "] = df[ "AAA" ]
# df[ " BBB2 "] = df[ "BBB" ]
# df[ " CCC2 "] = df[ "CCC" ]
# print(df)

df[ [" AAA2", "BBB2", "CCC2" ] ]  = df[ ["AAA", "BBB", "CCC" ] ]
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC   AAA2  BBB2  CCC2
0    4   10  100      4    10   100
1    5   20   50      5    20    50
2    6   30  -30      6    30   -30
3    7   40  -50      7    40   -50

In [72]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

print(df.columns)

# me
source_column_names = []
new_column_names =[]
for column in df.columns:
    new_column_names.append(column+"2")
    source_column_names.append(column)

df[new_column_names] = df[source_column_names]
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

Index(['AAA', 'BBB', 'CCC'], dtype='object')
   AAA  BBB  CCC  AAA2  BBB2  CCC2
0    4   10  100     4    10   100
1    5   20   50     5    20    50
2    6   30  -30     6    30   -30
3    7   40  -50     7    40   -50

In [ ]:
# T 

df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

source_column_names = [name for name in df.columns]
new_column_names =[name + "2" for name in df.columns]

df[new_column_names] = df[source_column_names]
print(df)

In [84]:
df = pd.DataFrame(
        {"AAA": ["tom", "jerry", "tom" ,"bob"], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

def encode(AAA):
    if AAA =="tom" : return 0
    if AAA =="jerry" : return 1
    if AAA =="bob" : return 2
    return -1

# df["AAA_encoded"] = df[["AAA"]].applymap(encode)
# print(df)

df["AAA_encoded"] = df[["AAA"]].applymap(str.upper)
print(df)

     AAA  BBB  CCC
0    tom   10  100
1  jerry   20   50
2    tom   30  -30
3    bob   40  -50

     AAA  BBB  CCC AAA_encoded
0    tom   10  100         TOM
1  jerry   20   50       JERRY
2    tom   30  -30         TOM
3    bob   40  -50         BOB

In [87]:
df = pd.DataFrame(
        {"AAA":[4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

def encode(AAA):
    if AAA <= -3 : return 1
    if 4 <= AAA <=5  : return 2 # 4 < = AAA and AAA <=5
    if 6 <= AAA : return 3
    return -1

df["AAA_encoded"] = df[["AAA"]].applymap(encode) #func를 적용할 대 applymap을 쓰면 함수를 전달해준다,
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

   AAA  BBB  CCC  AAA_encoded
0    4   10  100            2
1    5   20   50            2
2    6   30  -30            3
3    7   40  -50            3

In [93]:
df = pd.DataFrame(
        {"AAA":[4, 7, 6, 1], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

sorted_index = df.AAA.argsort()
print(sorted_index)


print(df.loc[sorted_index])

   AAA  BBB  CCC
0    4   10  100
1    7   20   50
2    6   30  -30
3    1   40  -50

0    3
1    0
2    2
3    1
Name: AAA, dtype: int64
   AAA  BBB  CCC
3    1   40  -50
0    4   10  100
2    6   30  -30
1    7   20   50

In [107]:
#quiz 

df = pd.DataFrame(
        {"AAA":[-4, -7, 6, 1], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()

# print(df.AAA)
sorted_index = df.AAA.abs().argsort() 
print(sorted_index)


print(df.loc[sorted_index])

   AAA  BBB  CCC
0   -4   10  100
1   -7   20   50
2    6   30  -30
3    1   40  -50

0    3
1    0
2    2
3    1
Name: AAA, dtype: int64
   AAA  BBB  CCC
3    1   40  -50
0   -4   10  100
2    6   30  -30
1   -7   20   50

In [117]:
df = pd.DataFrame(
        {"AAA":[6,5,4,7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()
#5.1과 가까운 거리 순으로 쏠팅 
list = []
for num in df.AAA:
    sub = 5.1 - num
    list.append(round(sub,2))

print(list)
df['DDD'] = list
sorted_index = df.DDD.abs().argsort() 
print(sorted_index)


print(df.loc[sorted_index])

   AAA  BBB  CCC
0    6   10  100
1    5   20   50
2    4   30  -30
3    7   40  -50

[-0.9, 0.1, 1.1, -1.9]
0    1
1    0
2    2
3    3
Name: DDD, dtype: int64
   AAA  BBB  CCC  DDD
1    5   20   50  0.1
0    6   10  100 -0.9
2    4   30  -30  1.1
3    7   40  -50 -1.9

In [118]:
df = pd.DataFrame(
        {"AAA":[6,5,4,7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
print()
#5.1과 가까운 거리 순으로 쏠팅 


sorted_index = (df.AAA-5.1).abs().argsort() 
print(sorted_index)


print(df.loc[sorted_index])

   AAA  BBB  CCC
0    6   10  100
1    5   20   50
2    4   30  -30
3    7   40  -50

0    1
1    0
2    2
3    3
Name: AAA, dtype: int64
   AAA  BBB  CCC
1    5   20   50
0    6   10  100
2    4   30  -30
3    7   40  -50

In [113]:
print(df.AAA)

0   -4
1   -7
2    6
3    1
Name: AAA, dtype: int64

In [7]:
import pandas as pd 
from  numpy import nan as NAN


df = pd.DataFrame([[NAN, 2, NAN, 0],
                   [3, 4, NAN, 1],
                   [NAN, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns= list('ABCD'))

df = pd.DataFrame([[NAN, 2, NAN, 0],
                   [3, 4, NAN, 1],
                   [NAN, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns= ['A','B','C','D'])

print(df, "\n")
print(df.isnull(), '\n')
print(df.isnull().any(), '\n')
print(df.isnull().any().any(), '\n') #데이터 전체에서 결측지가 있으면 True를 반환한다.

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True  False
3   True  False  True  False

A     True
B     True
C     True
D    False
dtype: bool

True

In [10]:

df = pd.DataFrame([[NAN, 2, NAN, 0],
                   [3, 4, NAN, 1],
                   [NAN, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns= list('ABCD'))

df = pd.DataFrame([[NAN, 2, NAN, 0],
                   [3, 4, NAN, 1],
                   [NAN, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns= ['A','B','C','D'])

total = len(df)
print(df.isnull().sum()/total*100, '\n')

A     75.0
B     25.0
C    100.0
D      0.0
dtype: float64

In [13]:
#결측지 버리기 

df = pd.DataFrame([[1, 2, 3, 0],
                   [3, 4, 5, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [2, 3, 1, 4]],
                  columns=list('ABCD'))

print(df.dropna(axis =1), "\n")

print(df.dropna(axis =0), "\n")

   D
0  0
1  1
2  5
3  4

     A    B    C  D
0  1.0  2.0  3.0  0
1  3.0  4.0  5.0  1
3  2.0  3.0  1.0  4